:root {
  --primary: #CCB8D9;
  --secondary: #FA3131;
  --accent: #579ee4;
  --text: hsl(0, 0%, 100%);
  --light: #FFFFFF;
  --background: #000000;
  --footer-color: #292929;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--background);
  font-family: 'Crimson Text', serif;
  color: var(--light);
  overflow-x: hidden;
}

text {
  font-family: 'Crimson Text', serif;
}

h2 {
  font-weight: 700;
  color: var(--secondary);
}

h3 {
  font-weight: 200;
  color: var(--secondary);
}

h5 {
  color: #000000;
  font-weight: bold;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: var(--text);
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  font-size: 12px;
  pointer-events: none;
  opacity: 0;
}

.x-axis-label {
  fill: white; /* Legend text color */
  font-size: 15px; /* Legend font size */
  text-anchor: middle; /* Horizontal alignment */
}

.y-axis-label {
  fill: white; /* Legend text color */
  font-size: 15px; /* Legend font size */
  text-anchor: middle; /* Horizontal alignment */
}

.card-text {
  font-size: 15px;
  color: var(--footer-color);
}
.card-text-b {
  font-size: 15px;
  font-weight: bold;
  color: var(--footer-color);
}

.btn-circle.btn-xl {
  width: 72px;
  height: 72px;
  border-radius: 60px;
  fill: var(--light);
}

#car {
  display: block;
  margin-left: 140px;
  margin-right: 0px;
}